.font1 {
    font-family: 'Alegreya SC' , serif;
    text-shadow: #0f0000 -3px 3px;
}
.font2 {
    font-family: 'Alegreya' , serif;
    text-shadow: #0f0000 -3px 3px;
}
header {
    color: #bcadad;
    background-color: #0f0000;
}
nav {
    margin-top: 50px;
    background-color: white;
    opacity: 0.8;
}
.navRep {
    background-color: white;
    opacity: 0.8;
}
.btn:hover {
    color: #bcadad;
    background-color: #4c0000;
}
.btn-info:hover {
    color: white;
    background-color: #38777c;
}
.NavColl {
    color: #bcadad;
    background-color: #0f0000;
}
.promo {
    background-color: #ffc107;
}
.promo:hover {
    color: inherit;
    background-color: #ffc107;
    opacity: 0.95;
}
.btn {
    margin-right: 0;
    margin-left: 0;
    border: 0;
}
callout {
    background-color: #230000;
    background: url(images/monkees.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}
main {
    color: #bcadad;
    background-color: #0f0000;
}
.albums {
    color: #bcadad;
    background-color: #230000;
}
.album {
    margin-top: 10px;
}
footer {
    color: #bcadad;
    background-color: #0f0000;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
.intro {
    background-color: #230000;
}
.jumbotron {
    margin-top: 20px;
    text-align: center;
    color: #bcadad;
    background-color: #4c0000;
    opacity: 0.85;
}
.new {
    color: #bcadad;
    opacity: 0.8;
    background-color: #0f0000;
    margin-top: 50px;
}
.center {
    text-align: center;
}
.video {
    margin-top: 10px;
}
.songs {
    background-color: #0f0000;
}
.dates {
    background-color: #230000;
}
footer a {
    text-decoration: underline;
}
blockquote {
    margin-left: 3px;
    margin-top: 3px;
}
.page {
    font-weight: bold;
}
.page:hover {
    color: #4c0000;
    background-color: #bcadad;
}
.email {
    color: #0f0000;
}
.sign-up {
    background-color: white !important;
    opacity: 0.8;
}
.social {
    text-decoration: none !important;
}